MONGO_URI=mongodb://localhost:27017/flexi-pos?replicaSet=rs0
JWT_SECRET=
MAILER_ADDRESS=
MAILER_PASS=
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
REFRESH_COOKIE_SAMESITE=lax
REFRESH_COOKIE_SECURE=false
REFRESH_COOKIE_DOMAIN=
